html{
    background-color: black;
}

.cell{
    float: left;
    width: 50px;
    height: 50px;
}

.clear{
    background-color: #dddddd;
}

.dark{
    background-color: #ebebeb;
}

.meta{
    background-color: rgb(75, 190, 81);
}

.actual{
    background-color: rgb(212, 196, 44);
}

.anterior{
    background-color: rgb(158, 151, 86);
}

.actual2{
    background-color: rgb(255, 238, 0);
}

.anterior2{
    background-color: rgb(94, 41, 80);
}

.wall{
    background-color: #a762b4;
}